.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  /* font-size: 1.3vw; */
  background-color: #FCF4FF;
}

.App-header {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  font-weight: bold;
  background-color: #80198F;
  color: white;
  cursor: default;
}

.content-header {
  display: flex;
  align-items: center;
  width: 1440px;
  /* padding: 0 2vw; */
  padding: 0 38px;
  gap: 14px;
  /* margin: 0 auto; */
  /* font-size: 2vh; */
}

.Header-logo {
  height: 42px;
  width: 42px;
}

.Header-nav {
  display: flex;
  margin-left: auto;
}

.Header-nav a {
  display: flex;
  align-items: center;
  height: 40px;
  width: auto;
  padding: 0 2vw;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
  border-radius: 8px;
}

.Header-nav a:hover {
  background-color: #b12acf;
}

.App-hero {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-weight: bold;
  /* gap: 20px; */
  /* padding: 0 120px; */
  height: calc(100vh - 60px);
  /* padding: 48px 0; */
  /* border: 1px solid red; */
  cursor: default;
}

.content-hero {
  display: flex;
  align-items: center;
  gap: 64px;
  width: 1440px;
  padding: 0 122px;
}

.hero-letras {
  display: flex;
  flex-direction: column;
  gap: 18px
}

.hero-letras h1 {
  font-size: 62px;
  margin: 0;
}

.hero-letras p {
  font-size: 18px;
  margin: 0;
}

.App-hero img {
  width: 540px;
  border-radius: 18px;
}

.resaltar {
  color: #80198F;
}

.Button-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 220px;
  color: white;
  background-color: #0C0A09;
  border-radius: 8px;
  transition: background-color 0.4s ease
}

.Button-contacto:hover {
  cursor: pointer;
  background-color: #80198F;
}

.App-calculadora {
  display: flex;
  justify-content: center;
  height: 640px;
  background-color: #F3D0FE;
}

.content-calculadora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 64px; */
  width: 1440px;
  padding: 0 122px;
}

.calculadora-letras {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  padding-bottom: 32px;
}

.calculadora-letras h1 {
  font-size: 32px;
  margin: 0;
}

.calculadora-letras p {
  font-size: 18px;
  margin: 0;
}

.calculadora-inputs {
  display: flex;
  justify-content: center;
  width: 900px;
}

.calculadora-inputs input {
  height: 40px;
  width: 394px;
  padding-left: 16px;
  margin: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.calculadora-inputs input::placeholder {
  color: #0C0A09;
  border-radius: 8px;
}

.calculadora-botones {
  display: flex;
  gap: 48px;
  padding: 32px;
}

.calculadora-botones div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 412px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
}

.Button-calcular {
  background-color: #22C55E;
}

.Button-calcular:hover {
  background-color: #16A34A;
  cursor: pointer;
}

.Button-buscar {
  background-color: #EAB308;
}

.Button-buscar:hover {
  background-color: #CA8A04;
  cursor: pointer;
}

.App-servicios {
  display: flex;
  justify-content: center;
  height: 640px;
  background-color: #FCF4FF;
}

.App-servicios h1 { 
  font-size: 32px;
  margin: 0px;
}

.content-servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 1440px;
  padding: 0 122px;
}

.cards-servicios {
  display: flex;
  gap: 64px;
}

.card {
  border-radius: 8px;
}

.card img {
  width: 322px;
  height: 355px;
  border-radius: 8px;
}

.App-agendar {
  display: flex;
  justify-content: center;
  height: 640px;
  background-color: #F3D0FE;
}

.App-agendar h1 { 
  font-size: 48px;
  margin: 0px;
}

.content-agendar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 1440px;
  padding: 0 122px;
}

.servicios-tabla {
  height: 380px;
  width: 546px;
  background-color: #FCF4FF;
  border-radius: 16px;
}