
/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.App-header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 2vw;
  font-size: 18px;
  font-weight: bold;
  background-color: #ED1566;
  color: white;
}

.App-header p {
  pointer-events: none;
}

.Header-logo {
  height: 40px;
  width: 40px;
  /* padding-right: 4px; */
  pointer-events: none;
}

.Header-nav {
  display: flex;
  margin-left: auto;
}

.Header-nav a {
  display: flex;
  align-items: center;
  height: 40px;
  width: auto;
  padding: 0 2vw;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.Header-nav a:hover {
  background-color: #9c1043;
}

.Nav-contacto {
  background-color: gainsboro;
  color: #1E2D3B;
}

.Nav-contacto:hover {
  color: gainsboro;
}

.App-header p {
  padding-left: 15px;
}

.App-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 80px);
  /* padding: 48px 0; */
  /* border: 1px solid red; */
}

.App-hero img {
  height: 100%; 
  /* animation: fadeIn 0.1s ease-in-out forwards; */
}

.resaltar {
  color: #ED1566;
}

.Hero-inicio {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 60%;
  padding: 0 6vw;
  animation: fadeIn 1.3s ease-in-out forwards;
  /* border: solid blue 1px; */
}

.Hero-inicio h1 {
  font-size: 48px;
  font-weight: bolder;
  /* padding: 18px 0; */
  margin: 0;
  pointer-events: none;
}

.Hero-inicio p {
  font-size: 16px;
  margin: 0;
  pointer-events: none;
}

.Inicio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 28px; */
  width: 10vw;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: black;
  transition: background-color 0.4s ease
}

.Inicio-button:hover {
  cursor: pointer;
  background-color: gray;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .Hero-img {
  width: 50%;
  height: 100%;
}

.Hero-img img {
  width: 100%; 
  height: calc(100%); 
  object-fit: cover; 
} */

/* 
.Hero-img img {
  height: 300px;
  border-radius: 15px;
} */
